@font-face {
  font-family: "ContracticaRegular";
  src: url("/asssets/fonts/contractica/TBCContractica-Regular.ttf")
      format("ttf"),
    url("/asssets/fonts/contractica/TBCContractica-Regular.woff") format("woff"),
    url("/asssets/fonts/contractica/TBCContractica-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "ContracticaBold";
  src: url("/asssets/fonts/contractica/TBCContractica-Bold.ttf") format("ttf"),
    url("/asssets/fonts/contractica/TBCContractica-Bold.woff") format("woff"),
    url("/asssets/fonts/contractica/TBCContractica-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ContracticaBlack";
  src: url("/asssets/fonts/contractica/TBCContractica-Black.ttf") format("ttf"),
    url("/asssets/fonts/contractica/TBCContractica-Black.ttf") format("woff"),
    url("/asssets/fonts/contractica/TBCContractica-Black.ttf") format("woff2");
}

@font-face {
  font-family: "ContracticaBlackCaps";
  src: url("/asssets/fonts/contractica/TBCContracticaCAPS-Black.ttf")
      format("ttf"),
    url("/asssets/fonts/contractica/TBCContracticaCAPS-Black.woff")
      format("woff"),
    url("/asssets/fonts/contractica/TBCContracticaCAPS-Black.woff2")
      format("woff2");
}

@font-face {
  font-family: "ContracticaBoldCaps";
  src: url("/asssets/fonts/contractica/TBCContracticaCAPS-Bold.ttf")
      format("ttf"),
    url("/asssets/fonts/contractica/TBCContracticaCAPS-Bold.woff")
      format("woff"),
    url("/asssets/fonts/contractica/TBCContracticaCAPS-Bold.woff2")
      format("woff2");
}
