.course {
  width: 32rem;
  height: 34rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.course_image_wrapper {
  width: 100%;
  height: 14rem;
}

.course_image {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.course_information {
  width: 100%;
  height: 20rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.course_card_text {
  color: white;
  font-family: "ContracticaRegular";
  line-height: 2em;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.registration_state {
  font-size: 1.4rem;
}

.course_details_container {
  width: 18.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.arrow_icon {
  width: 2rem;
  height: 1.6rem;
}

.course_details_link {
  font-family: "ContracticaBoldCaps";
  color: #03aeef;
  font-size: 1.5rem;
  margin-top: 0.7rem;
}

@media (max-width: 350px) {
  .course {
    width: 28rem;
    height: 36rem;
  }
  .course_information {
    height: 22rem;
  }

  .course_card_text {
    margin-top: 0;
  }
}
