.course {
  width: 32rem;
  height: 34rem;
  border: 1px solid rgb(76, 75, 75);
  border-radius: 1rem;
}

.course_image_wrapper {
  width: 100%;
  height: 14rem;
}

.course_image {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.course_information {
  width: 100%;
  height: 20rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.course_card_text_section {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course_card_text {
  color: white;
  font-family: "ContracticaRegular";
  font-size: 1.6rem;
  margin-top: 2rem;
}

.registration_state {
  font-size: 1.4rem;
  color: white;
  font-family: "ContracticaRegular";
  margin-top: 20px;
}

.course_details_container {
  width: 18.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.arrow_icon {
  width: 2rem;
  height: 1.6rem;
}

.course_details_link {
  font-family: "ContracticaBoldCaps";
  color: #03aeef;
  font-size: 1.5rem;
  margin-top: 0.7rem;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .course {
    width: 30rem;
    height: 43rem;
  }

  .course_information {
    height: 28rem;
    justify-content: space-between;
  }

  .course_card_text {
    line-height: 1.6em;
    font-size: 1.8rem;
  }
}

@media (max-width: 350px) {
  .course {
    width: 28rem;
    height: 36rem;
  }
  .course_information {
    height: 22rem;
  }

  .course_card_text {
    margin-top: 0;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .course {
    width: 25rem;
    height: 34rem;
  }

  .course_information {
    height: 20rem;
    padding: 0 2rem 3rem 1.5rem;
  }

  .course_card_text {
    margin-top: 0;
  }

  .course_details_container {
    margin-top: 2rem;
  }
}
