.questions_section {
  width: 100dvw;
  min-height: 550px;
  background-color: #161616;
  padding: 35px 25px 35px 25px;
}

.faq {
  font-size: 21px;
  color: white;
  font-family: "ContracticaRegularCaps";
  line-height: 1.5em;
}

.questions_wrapper {
  width: 100%;
  min-height: 300px;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.question_card {
  width: 100%;
  min-height: 60px;
  /* background-color: green;  */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.question_div {
  width: 100%;
  min-height: 50px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.question {
  font-size: 17px;
  font-family: "ContracticaRegularCaps";
  color: white;
  line-height: 1.4em;
  width: 300px;
}

.tick_icon {
  all: unset;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.tick_icon_enable {
  transform: rotate(360deg);
}

.answer_div {
  opacity: 0;
  width: 0;
  min-height: 0;
  transition: all 300ms ease-in-out;
}

.answer_div_active {
  opacity: 1;
  width: 100%;
  min-height: 100px;
  transition: all 300ms ease-in-out;
  padding: 10px;
}

.answer {
  display: none;
}

.answer_active {
  display: block;
  color: white;
  font-family: "ContracticaRegularCaps";
  font-size: 14px;
}

.faq_navlink_div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.faq_navlink {
  font-family: "ContracticaBoldCaps";
  font-size: 18px;
  color: #00acdb;
  text-decoration: none;
}
