.introduction {
  width: 100dvw;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
}

.introduction_banner {
  width: 100%;
  height: 25rem;
  background-image: url("/assets//images/background_images/banner_images/banner_mobile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction_banner_text_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction_banner_text_div div {
  width: 28rem;
}

.banner_text {
  font-size: 2.6rem;
  color: white;
  line-height: 1.8em;
  font-family: "ContracticaBlack";
}

.banner_text span {
  font-family: "ContracticaBoldCaps";
}

.description_div {
  width: 100%;
  min-height: 20rem;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 4rem 2rem;
  overflow: hidden;
}

.program_description {
  font-size: 1.9rem;
  margin-top: 3rem;
  color: white;
  font-family: "ContracticaRegular";
  line-height: 3rem;
  word-wrap: break-word;
}

.program_navlink {
  font-size: 1.8rem;
  color: #00aef3;
  font-family: "ContracticaBold";
  text-decoration: none;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

@media (max-width: 360px) {
  .banner_text {
    font-size: 2.5rem;
  }

  .introduction_banner_text_div div {
    width: 100%;
    padding: 2rem;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .description_div {
    min-height: 20rem;
  }

  .introduction_banner_text_div div {
    width: 100%;
    padding: 2rem;
  }

  .banner_text {
    font-size: 2.5rem;
  }

  .program_description {
    font-size: 1.6rem;
  }

  .program_navlink {
    margin-bottom: 40px;
  }

  .program_navlink {
    font-size: 1.5rem;
    margin-left: 0.2rem;
  }
}

@media (min-width: 996px) {
  .introduction_banner {
    background-image: url("/assets//images/background_images/banner_images/banner_desktop.webp");
    height: 35rem;
    align-items: center;
  }

  .introduction_banner_text_div div {
    width: 90rem;
  }

  .banner_text {
    font-size: 4.2rem;
    line-height: 1.6em;
    font-family: "ContracticaBlack";
  }

  .banner_text span {
    font-size: 3.5rem;
  }

  .banner_text span br {
    content: " ";
    display: none;
  }

  .description_div {
    min-height: 35rem;
    padding: 1rem 5rem 5rem 5rem;
    align-items: center;
  }

  .program_description {
    line-height: 1.6em;
    font-size: 2.6rem;
    width: 95rem;
  }

  .program_navlink {
    font-size: 1.7rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 996px) {
  .introduction_banner_text_div div {
    width: 72.5rem;
  }
  .description_div {
    align-items: center;
  }

  .description_div div {
    width: 70rem;
    height: inherit;
  }
}
