.slider_section {
  width: 100dvw;
  height: 50rem;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 2rem;
  position: relative;
}

.slider_section p {
  color: white;
  font-size: 2rem;
  font-family: "ContracticaRegularCaps";
  letter-spacing: 1px;
  position: absolute;
  top: 4rem;
  left: 2rem;
}

.slider_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 2rem;
}

.slider {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 1500ms ease-in-out;
}

.slider img {
  max-width: 20rem;
  max-height: 20rem;
}

.slider[data-active] {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  opacity: 1;
  transition: all 1500ms ease-in-out;
}

.slider_button {
  position: absolute;
  width: 3rem;
  height: 8rem;
  z-index: 2;
  background-color: rgba(127, 127, 127, 0.2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider_button img {
  width: 3rem;
  height: 3rem;
}

.slider_button_left {
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.slider_button_right {
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.slider_dots_wrapper {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.slider_dot {
  width: 0.7rem;
  height: 0.7rem;
  border: none;
  background-color: rgba(127, 127, 127, 0.5);
  border-radius: 50%;
  transition: all 1500ms ease-out;
}

.slider_dot[data-dot-active] {
  background-color: whitesmoke;
}

@media (max-width: 359px) {
  .slider img {
    max-width: 17rem;
    max-height: 17rem;
  }

  .slider_button {
    height: 7rem;
  }
}

@media (max-width: 330px) {
  .slider_section p {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .slider_wrapper {
    width: 100rem;
  }

  .slider {
    flex-direction: row;
  }

  .slider[data-active] {
    flex-direction: row;
  }

  .slider_button {
    background: none;
  }

  .slider_button_left {
    left: 3rem;
  }

  .slider_button_right {
    right: 3rem;
  }
}
