.slider_wrapper {
  width: 100dvw;
  height: 450px;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  padding: 30px 15px 30px 15px;
}

.slider_wrapper p {
  color: white;
  font-size: 20px;
  font-family: "ContracticaRegularCaps";
  letter-spacing: 1px;
}
